* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    overflow: hidden;
}


/* Titles */
h2 {
    margin: 20px auto;
    color: #27ae60;
}

.game-container {
    position: relative;
    max-width: 800px;
    max-height: 90vh;
    height: 90vh;
    margin-top: 30px;
    padding: 60px;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    animation: fadeInContainer 2s ease-in-out;
    z-index: 2;
}


/* Scrollbar */
.game-container::-webkit-scrollbar {
    width: 4px;
}

.game-container::-webkit-scrollbar-track {
    background: transparent;
}

.game-container::-webkit-scrollbar-thumb,
.game-container::-webkit-scrollbar-thumb:hover {
    background: transparent;
    border-radius: 10px;
}


/* Result Section */
.result {
    margin-bottom: 20px;
}

.choice {
    margin: 30px 0;
    color: #c4c4c4;
}

.result-message {
    font-size: 1.2rem;
    margin: 20px 0;
}


/* Stats Section */
.stats-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto 0;
}

.stats {
    text-align: start;
    margin-bottom: 30px;
    justify-content: center;
}


/* Game Icons */
.icon-game {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 10px;
}


/* Buttons */
.back-button, .index-button{
    background: #27ae60;
    color: #fff;
    padding: 15px 20px;
    margin: 10px;
    font-size: 1.0rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.back-button:hover, .index-button:hover  {
    background-color: #2ecc71;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.clear-button {
    background: #eb4949;
    color: #fff;
    padding: 15px 20px;
    margin: 10px;
    font-size: 1.0rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.clear-button:hover {
    background-color: #d82525;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


/* Particles */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    z-index: 1;
}


/* Animations */
@keyframes fadeInContainer {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}
